.container-cus {
  max-width: 1090px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}

.custom-btn-active {
  display: block;
  background: $pr-color;
  color: $light-color;
  width: 150px;
  margin-left: auto;
  &:hover {
    background: $pr-color-dark;
    color: $light-color;
  }
}

.custom-btn-disabled {
  display: block;
  background: $dis-btn-color !important;
  color: $dis-btn-color-dark;
  width: 150px;
  margin-left: auto;

  &:hover {
    color: $dis-btn-color-dark;
  }
}

.back-btn {
  display: block;
  background: $light-color !important;
  color: $dis-btn-color-dark;
  width: 70px;
  margin-right: auto;
  position: absolute;
  text-align: left;
  padding-left: 0;

  &:focus {
    box-shadow: none;
  }
}

.main-heading {
  text-align: center;
  color: #323d51;
}

.photo-count {
  text-align: center;
  font-weight: 500;
  color: #536687;
}

.sticky-header {
  position: sticky;
  top: 63px;
  background: $light-color;
  z-index: 4;
  padding: 20px 15px;
  text-align: center;
}

.con-min-height {
  min-height: calc(100vh - 240px);
}

.pre-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-now-btn {
  display: block;
  background: $pr-color;
  color: $light-color;
  width: 200px;
  padding: 10px 15px;
  margin: auto;
  margin-top: 50px;

  &:hover {
    background: $pr-color-dark;
    color: $light-color;
  }
}

/* modals */
.modal-header {
  background: #323d51;
  color: $light-color;
}

/* notification */
.notification {
  opacity: 1 !important;
  margin-top: 100px !important;
}

.notification-success {
  background-color: $success-color !important;
}

// PhotoView-PhotoSlider
.PhotoView-PhotoSlider__Counter {
  visibility: hidden;
}
