.masonry-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s; /* Animation */
  transition-timing-function: ease-in;

  img {
    width: 100%;
    border-radius: 5px;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.deactive-check {
  position: absolute;
  color: $light-color;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.active-check {
  position: absolute;
  color: $card-select-color;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}
